<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/big/auth-bg.jpg) no-repeat center center;">
    <div class="auth-box">
        <div>
            <div class="logo">
                <span class="db"><img src="assets/images/logo-icon.png" alt="logo" /></span>
                <h5 class="font-medium m-b-20">Sign Up to Admin</h5>
            </div>
            <!-- Form -->
            <div class="row">
                <div class="col-12">
                    <form class="form-horizontal m-t-20"  [formGroup]="registerForm" (ngSubmit)="register()" >
                        <div class="form-group row ">
                            <div class="col-12 ">
                                <input class="form-control form-control-lg" formControlName="name" type="text" required=" " [ngClass]="{ 'is-invalid': submitted && f.name.errors }" placeholder="Name">
                                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Name is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row ">
                            <div class="col-12 ">
                                <input class="form-control form-control-lg" formControlName="username" type="text" required=" " [ngClass]="{ 'is-invalid': submitted && f.username.errors }" placeholder="Username">
                                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                    <div *ngIf="f.username.errors.required">Username is required</div>
                                    <div *ngIf="f.username.errors.minlength">Username must be in minimum 6 characters</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <input class="form-control form-control-lg" type="text" formControlName="hash" required=" " [ngClass]="{ 'is-invalid': submitted && f.hash.errors }" placeholder="Wallet">
                                <div *ngIf="submitted && f.hash.errors" class="invalid-feedback">
                                    <div *ngIf="f.hash.errors.required">Wallet</div>
                                    <div *ngIf="f.hash.errors.hash">hash address</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <input class="form-control form-control-lg" type="text" formControlName="email" required=" " [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email">
                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <input class="form-control form-control-lg" type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors}" required=" " placeholder="Password">
                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                    <div *ngIf="f.password.errors.required">Password is required</div>
                                    <div *ngIf="f.password.errors.minlength">Password must be in minimum 8 characters</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 ">
                                <input class="form-control form-control-lg" type="password" formControlName="password_confirmation" [ngClass]="{ 'is-invalid': submitted && f.password_confirmation.errors}" required=" " placeholder="Confirm Password">
                                <div *ngIf="submitted && f.password_confirmation.errors" class="invalid-feedback">
                                    <div *ngIf="f.password_confirmation.errors.required">Confirm Password is required</div>
                                    <div *ngIf="f.password_confirmation.errors.mustMatch">Passwords must match</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12 ">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName='term' [ngClass]="{ 'is-invalid': submitted && f.term.errors}"  id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">I agree to all <a href="javascript:void(0)">Terms</a></label>
                                    <div *ngIf="submitted && f.term.errors" class="invalid-feedback">
                                        <div *ngIf="f.term.errors.required">Terms is required</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center ">
                            <div class="col-xs-12 p-b-20 ">
                                <button class="btn btn-block btn-lg btn-info " type="submit ">SIGN UP</button>
                            </div>
                        </div>
                        <div class="form-group m-b-0 m-t-10 ">
                            <div class="col-sm-12 text-center ">
                                Already have an account? <a [routerLink]="['/authentication/login']"  class="text-info m-l-5 "><b>Sign In</b></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>