<div class="row justify-content-center align-items-center" >

<div class="card-group">

    <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-row">
              <div class="round align-self-center round-success">
                <i class="mdi mdi-arrow-top-right"></i>
              </div>
              <div class="m-l-5 align-self-center">
                <h4 id="investimentos">{{balance | currency:'BTC ':true:'1.1-8'}}</h4>
                <span class="text-muted">Balance available 1st level</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    <!-- Column -->


</div>
</div>

<!-- Row -->
<div class="row justify-content-center align-items-center">

        <div class="col-lg-8">

            <div class="card">

                <form [formGroup]="withdrawForm" (ngSubmit)="withDrawMoney()" >

                    <div class="form-body">

                        <div class="card-body">
                            <div class="row p-t-20">

                                <!--/span-->
                                <div class="col-md-6">
                                        <div class="form-group has-success">
                                                <label class="control-label">Wallet</label>
                                                <select formControlName="wallet" [ngClass]="{ 'is-invalid': submitted && f.wallet.errors }" class="form-control custom-select">
                                                    <option *ngFor='let c of wallets' value="{{c.id}}" >{{c.nome}}</option>
                                                </select>
                                                <div *ngIf="submitted && f.wallet.errors" class="invalid-feedback">
                                                    <div *ngIf="f.wallet.errors.required">Select a wallet</div>
                                                </div>
                                        </div>
                                </div>
                                <!--/span-->

                                <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Value</label>
                                            <input formControlName="value" [ngClass]="{ 'is-invalid': submitted && f.value.errors }" [brmasker]="{money: true, thousand: ',',  decimalCaracter: '.', decimal: '3'}" type="text" id="value" class="form-control" placeholder="0.00">
                                            <!-- <small class="form-control-feedback"> Value minimium 0,005 </small> -->
                                        </div>
                                        <div *ngIf="submitted && f.value.errors" class="invalid-feedback">
                                            <div *ngIf="f.value.errors.required">Value is required</div>
                                            <!-- <div *ngIf="f.value.errors.min">Entered value is less than 0.005</div> -->
                                        </div>
                                </div>
                            </div>

                            <div class="form-actions col-12">
                                <div class="card-body float-right col-4">
                                    <button type="submit" [disabled]="(_parseFloat(balance) < 0.0005)" class="btn btn-block btn-outline-success float-right">Withdraw Money</button>
                                </div>
                            </div>

                        </div>

                    </div>

                </form>

            </div>

        </div>

</div>
<!-- Row -->
