<!-- <div class="float-right">
<label for=''>
    {{'DASHBOARD.OPTIONLANG' | translate }}
<select #langselect (change)='translate.use(langselect.value)' >
    <option *ngFor="let lang of translate.getLangs()" [value]='lang' >{{lang}}</option>
</select>
</label>
</div> -->

<router-outlet>
    <app-spinner></app-spinner>
    <div style="position: relative"> <!-- the position of the parent container must be set to relative -->
        <!-- It is really important to set loaderId for non-master loader -->
        <ngx-ui-loader [loaderId]="'loader-01'"></ngx-ui-loader>
      </div>
      
      <div style="position: relative"> <!-- the position of the parent container must be set to relative -->
        <!-- It is really important to set loaderId for non-master loader -->
        <ngx-ui-loader [loaderId]="'loader-02'"></ngx-ui-loader>
      </div>
      
      <ngx-ui-loader></ngx-ui-loader> <!-- this is master loader and its loaderId is "master" by default -->
      <!-- Note 1: If you really want to change loaderId of master loader, please use NgxUiLoaderModule.forRoot() method. -->
      <!-- Note 2: Your application can only have ONE master loader.
                   The master loader should be placed in your app root template, so you can call it anywhere in you app. -->
</router-outlet>