<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<div class="card-group">

    <!-- Column -->
    <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex no-block align-items-center">
                            <div>
                                <i class="mdi mdi-poll font-20"></i>
                                <p class="font-16 m-b-5">Investments</p>
                            </div>
                            <div class="ml-auto">
                                <h1 class="font-light text-right">{{user.totalQtdInvestimento}}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <!-- <div class="progress">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 85%; height: 6px;"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div> -->
                    </div>
                </div>
            </div>
    </div>
    <!-- Column -->
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex no-block align-items-center">
                        <div>
                            <i class="mdi mdi-currency-btc font-20"></i>
                            <p class="font-16 m-b-5"> yields</p>
                        </div>
                        <div class="ml-auto">
                            <h1 class="font-light text-right font-22">{{user.totalRendimento || valueInitial}}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <!-- <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 85%; height: 6px;"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex no-block align-items-center">
                        <div>
                            <i class="mdi mdi-currency-btc font-20"></i>
                            <p class="font-16 m-b-5">Balance available</p>
                        </div>
                        <div class="ml-auto">
                            <h1 class="font-light text-right font-22">{{user.totalSaldo}}</h1>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <!-- <div class="progress">
                        <div class="progress-bar bg-purple" role="progressbar" style="width: 85%; height: 6px;"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex no-block align-items-center">
                            <div>
                                <i class="mdi mdi-account-network font-20"></i>
                                <p class="font-16 m-b-5">network</p>
                            </div>
                            <div class="ml-auto">
                                <h1 class="font-light text-right">{{user.totalReferencia}}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <!-- <div class="progress">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 85%; height: 6px;"
                                aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                        </div> -->
                    </div>
                </div>
            </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Email campaign chart -->
<!-- ============================================================== -->
<div class="row">

    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div>
                        <h4 class="card-title">Yields X Investments</h4>
                    </div>
                </div>
                <div style="display: block;">
                  <canvas baseChart width="400" height="200" [datasets]="lineChartData" [labels]="lineChartLabels"
                    [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
                    [plugins]="lineChartPlugins">
                  </canvas>
                </div>
            </div>
        </div>

    </div>

    <div class="col-lg-6 col-md-12 order-lg-2 order-md-3">

            <!-- column investimento type -->
            <div >
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex">
                                    <div>
                                        <h4 class="card-title">Yields X Investment Type</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="border-top-0">NAME</th>
                                            <th class="border-top-0">TOTAL</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let i of investmentsType">

                                            <td class="txt-oflo text-success" *ngIf="i.id===1" >{{i.nome}}</td>
                                            <td class="text-success" *ngIf="i.id===1" >
                                                {{i.total}}
                                            </td>
                                            <td class="txt-oflo text-info" *ngIf="i.id===2" >{{i.nome}}</td>
                                            <td class="text-info" *ngIf="i.id===2" >
                                                {{i.total}}
                                            </td>
                                            <td class="txt-oflo text-danger" *ngIf="i.id===3" >{{i.nome}}</td>
                                            <td class="text-danger" *ngIf="i.id===3" >
                                                {{i.total}}
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
            </div>

            <div class="card">
                    <div class="card-body collapse show" style="padding: 0.85rem" >
                        <h4 class="card-title">Invitation link</h4>
                        <p class="card-text">This is your invitation link, copy and send to your investor team.</p>
                        <div class="input-group">
                                <input type="text" class="form-control" value="{{linkReference}}" >
                                <div class="input-group-append">
                                    <button (click)='copyLink(linkReference)' class="btn btn-outline-success" type="button">Copy link</button>
                                </div>
                        </div>
                    </div>
            </div>

    </div>


</div>

