<ng-template #modal id="modal" let-c="close" let-d="dismiss">
  <div id="modal">
    <div class="modal-header justify-content-center p-15 bg-danger text-white m-b-10 align-items-center"
      style="border-color: grey">
      <h4 class="modal-title row justify-content-center align-items-center">ATTENTION! Transfer the exact amount of the
        transaction.</h4>
    </div>
    <div class="modal-body">
      <img src="{{qrCode}}">
      <span> {{ address }} </span>
      <h4> {{ amount | currency:true:'BTC ':'1.8-8' }} </h4>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="c('Close click')">Close</button>
    </div>
  </div>
</ng-template>
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<div class="row justify-content-center">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body collapse show" style="padding: 0.85rem">
        <h4 class="card-title">Invitation link</h4>
        <p class="card-text">This is your invitation link, copy and send to your investor team.</p>
        <div class="input-group">
          <input type="text" class="form-control" value="{{linkReference}}">
          <div class="input-group-append">
            <button (click)='copyLink(linkReference)' class="btn btn-outline-success" type="button">Copy link</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card-group">
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-row">
          <div class="round align-self-center round-success">
            <i class="icon-chart"></i>
          </div>
          <div class="m-l-10 align-self-center">
            <h4 id="investimentos">{{user.totalQtdInvestimento}}</h4>
            <span class="text-muted">Investments</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-row">
          <div class="round align-self-center round-info">
            <i class="ti-stats-up"></i>
          </div>
          <div class="m-l-10 align-self-center">
            <div class="card-yields-values">
              <h4 id="yields">{{user.totalRendimento || valueInitial}}</h4>
            </div>
            <span class="text-muted">yields</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-row">
          <div class="round align-self-center round-success">
            <i class="ti-wallet"></i>
          </div>
          <div class="m-l-10 align-self-center">
            <h4 id="balance">{{user.totalSaldo}}</h4>
            <span class="text-muted">Balance available</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-row">
          <div class="round align-self-center round-danger">
            <i class="mdi mdi-block-helper"></i>
          </div>
          <div class="m-l-10 align-self-center">
            <div id="teste">
              <h4>{{user.totalBloqueado}}</h4>
            </div>
            <span class="text-muted">Balance Locked</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-12 order-lg-2 order-md-3">
    <div class="card">
      <div class="card-body">
          <h4 class="card-title">Campaign</h4>
          <div id="campaign" style="height: 168px; width: 100%;" class="m-t-10"></div>
          <!-- row -->
          <div class="row text-center text-lg-left">
              <!-- column -->
              <!-- column -->
              <div class="col-4">
                  <h4 class="m-b-0 font-medium">BTC {{user.totalRendimento}}</h4>
                  <span class="text-muted">Yields</span>
              </div>
              <!-- column -->
              <div class="col-4">
                <h4 class="m-b-0 font-medium">BTC {{(0.002 - user.totalRendimento)}}</h4>
                <span class="text-muted">Un-completed</span>
            </div>
              <!-- column -->
              <div class="col-4">
                <h4 class="m-b-0 font-medium">BTC 0.002</h4>
                <span class="text-muted">Total</span>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 order-lg-2 order-md-3">
    <div class="card">
      <div class="card-body">
          <h4 class="card-title">Top Plans</h4>
          <table class="table browser m-t-30 no-border">
              <tbody>
                  <tr *ngFor="let plan of plans">
                      <td style="width:40px">
                          <img src="assets/images/mouse.png" [ngStyle]="{'background-image':plan.cor}" alt="logo">
                      </td>
                      <td>{{plan.nome}} <br><small>BTC {{plan.valor}}</small></td>
                      <td align="right">
                        <button (click)='createInvestiment(plan)' class="btn btn-outline-success" type="button" [disabled]="user.totalInvestimento > 0" >Invest</button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  </div>
</div>
<!-- Column -->
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Email campaign chart -->
<!-- ============================================================== -->
<div class="row">

  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div>
            <h4 class="card-title">Yields X Investments</h4>
          </div>
        </div>
        <div style="display: block;">
          <canvas baseChart width="400" height="150" [datasets]="lineChartData" [labels]="lineChartLabels"
            [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
          </canvas>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- <div class="col-lg-6 col-md-12 order-lg-2 order-md-3">

   column investimento type
  <div class="card">
    <div class="card-body">
      <div class="d-flex">
        <div>
          <h4 class="card-title">Yields X Investment Type</h4>
        </div>
      </div>
      <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
        [options]="pieChartOptions" [colors]="pieChartColors" [legend]="pieChartLegend">
      </canvas>

      <div class="table-responsive" *ngIf="investmentsType">
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="border-top-0">NAME</th>
              <th class="border-top-0">TOTAL</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of investmentsType">

              <td class="txt-oflo text-success" *ngIf="i.id===1">{{i.nome}}</td>
              <td class="text-success" *ngIf="i.id===1">
                {{i.valor | currency:'BTC':true:'1.2-8'}}
              </td>
              <td class="txt-oflo text-info" *ngIf="i.id===2">{{i.nome}}</td>
              <td class="text-info" *ngIf="i.id===2">
                {{i.valor | currency:'BTC':true:'1.2-8'}}
              </td>
              <td class="txt-oflo text-danger" *ngIf="i.id===3">{{i.nome}}</td>
              <td class="text-danger" *ngIf="i.id===3">
                {{i.valor | currency:'BTC':true:'1.2-8'}}
              </td>

            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div> -->
