<!-- Row -->
<div class="row">
    <div class="col-lg-3">
        <div class="card bg-inverse text-white">
            <div class="card-body">
                <div class="d-flex no-block align-items-center">
                    <a href="JavaScript: void(0);">
                        <i class="display-6 cc ETH text-white" title="ETH"></i>
                    </a>
                    <div class="m-l-15 m-t-10">
                        <h4 class="font-medium m-b-0">Ethereum</h4>
                        <h5>$3589.00k</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card bg-cyan text-white">
            <div class="card-body">
                <div class="d-flex no-block align-items-center">
                    <a href="JavaScript: void(0);">
                        <i class="display-6 cc DASH-alt text-white" title="LTC"></i>
                    </a>
                    <div class="m-l-15 m-t-10">
                        <h4 class="font-medium m-b-0">Dash</h4>
                        <h5>$900.00k</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card bg-orange text-white">
            <div class="card-body">
                <div class="d-flex no-block align-items-center">
                    <a href="JavaScript: void(0);">
                        <i class="display-6 cc BTC-alt text-white" title="BTC"></i>
                    </a>
                    <div class="m-l-15 m-t-10">
                        <h4 class="font-medium m-b-0">Bitcoin</h4>
                        <h5>$284.50k</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card bg-info text-white">
            <div class="card-body">
                <div class="d-flex no-block align-items-center">
                    <a href="JavaScript: void(0);">
                        <i class="display-6 cc AMP-alt text-white" title="AMP"></i>
                    </a>
                    <div class="m-l-15 m-t-10">
                        <h4 class="font-medium m-b-0">Ripple</h4>
                        <h5>$650.80k</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->