
<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/big/auth-bg.jpg) no-repeat center center;">
    <div class="auth-box p-4">
            <div class="col-12">
                    <div class="logo d-flex no-block justify-content-center align-items-center" >
                        <img class="img-responsive" src="assets/images/logo-icon.png" alt="Card image cap">
                    </div>
                    <div class="logo d-flex no-block justify-content-center align-items-center">
                            <h3 class="font-medium m-b-20" id="title">Confirm your email</h3>
                    </div>
            </div>
            <div class="row">
                    <p class="card-text mt-1 mb-3 font-16" id="msg" >  
                        We want to make sure that you are a human being, not a robot. 
                        Please check your email address to activate your account.
                    </p>
            </div>
    </div>
</div>