<!-- <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/big/auth-bg.jpg) no-repeat center center;">
    <div class="auth-box">
    
        <div>
           
            
            <div class="row">
                <p id="msg" >
                 
                </p>
            </div>
        </div>
    </div>
</div> -->
 <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(assets/images/big/auth-bg.jpg) no-repeat center center;">

            <div class="row">

                <div class="col-12 m-t-30">

                    <div class="card w-55 offset-0">
                        <div class="card-header">
                            <div class="logo d-flex no-block justify-content-center align-items-center">
                                    <h2 class="font-medium m-b-20">Confirme seu e-mail</h2>
                            </div>
                            <div class="logo d-flex no-block justify-content-center align-items-center" >
                                <img class="img-responsive" src="assets/images/logo-icon.png" alt="Card image cap">
                            </div>
                        </div>
                        <div class="card-body">
                            <p class="card-text text-muted m-t-0 font-20" id="msg" >  
                                    Nos queremos ter certeza de que você é um ser humano, e não um robô. Por favor verefique seu e-mail 
                                    para ativar sua conta.
                            </p>
                        </div>
                    </div>

                </div>


            </div>

</div>