<app-cryptocard></app-cryptocard>
<!-- inicio Modal -->
<ng-template #modal id="modal" let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Seu Código</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img  src="{{qrCode}}" >
            <span> {{ address }} </span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="c('Close click')">Close</button>
        </div>
    </ng-template>
<!-- fim Modal -->
<!-- Row -->
<div class="row justify-content-center align-items-center">
    
        <div class="col-lg-8">

            <div class="card">

                <form [formGroup]="investimentForm" (ngSubmit)="createInvestiment()" >

                    <div class="form-body">

                        <div class="card-body">
                            <div class="row p-t-20">

                                <!--/span-->
                                <div class="col-md-6">
                                        <div class="form-group has-success">
                                                <label class="control-label">Investment Type</label>
                                                <select formControlName="investimenttype" [ngClass]="{ 'is-invalid': submitted && f.investimenttype.errors }" class="form-control custom-select">
                                                    <option value="" ></option>
                                                    <option  *ngFor="let type of investimenttypes" [value]="type.id" >{{type.nome}}</option>
                                                </select>
                                                <div *ngIf="submitted && f.investimenttype.errors" class="invalid-feedback">
                                                    <div *ngIf="f.investimenttype.errors.required">Investiment type is required</div>
                                                </div>
                                        </div>
                                </div>
                                <!--/span-->

                                <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Value Investiment</label>
                                            <input formControlName="valueinvestiment" [ngClass]="{ 'is-invalid': submitted && f.valueinvestiment.errors }" [brmasker]="{money: true, thousand: ',',  decimalCaracter: '.', decimal: '3'}" type="text" id="firstName" class="form-control" placeholder="0.00">
                                            <small class="form-control-feedback"> Value minimium 0,005 </small>
                                        </div>
                                        <div *ngIf="submitted && f.valueinvestiment.errors" class="invalid-feedback">
                                            <div *ngIf="f.valueinvestiment.errors.required">Value is required</div>
                                            <div *ngIf="f.valueinvestiment.errors.min">Entered value is less than 0.005</div>
                                        </div>
                                </div>
                            </div>
                    
                            <div class="form-actions col-12">
                                <div class="card-body float-right col-4">
                                    <button type="submit" class="btn btn-rounded btn-block btn-outline-success float-right">
                                        <i class="fa fa-check"></i> Create</button>
                                </div>
                            </div>

                        </div>   

                    </div>

                </form>

            </div>

        </div>

</div>
<!-- Row -->