<app-cryptocard></app-cryptocard>
<!-- inicio Modal -->
<ng-template #modal id="modal" let-c="close" let-d="dismiss">
  <div id="modal">
    <div class="modal-header justify-content-center p-15 bg-danger text-white m-b-10 align-items-center"
      style="border-color: grey">
      <h4 class="modal-title row justify-content-center align-items-center">ATTENTION! Transfer the exact amount of the
        transaction.</h4>
    </div>
    <div class="modal-body">
      <img src="{{qrCode}}">
      <span> {{ address }} </span>
      <h4> {{ amount | currency:true:'BTC ':'1.8-8' }} </h4>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="c('Close click')">Close</button>
    </div>
  </div>
</ng-template>
<!-- fim Modal -->
<!-- Row -->

<div class="card-group">
  
  <!-- Column -->
  <div class="col-lg-3 col-md-6" *ngFor="let plan of plans; let i=index">
    <div class="card" >
      <div class="card-body">
        <div class="d-flex flex-row">

          <div class="col-lg-12 text-center">
            <img src="assets/images/mouse.png" class="m-b-10" [ngStyle]="{'background-image':plan.cor}" alt="logo">
            <div class="m-t-40 align-self-center">
              <div class="card-yields-values">
                <h4 id="yields">{{plan.nome}}<br><small>BTC {{plan.valor}}</small></h4>
              </div>
              <span class="text-muted"><button (click)='createInvestiment(plan)' class="btn btn-outline-success" type="button" [disabled]="totalQtdInvestiments > 0" >Invest</button></span>
            </div>
          </div>  

        </div>
      </div>
    </div>
  </div>

  <!-- Column -->


  <!-- Row -->
